
<mat-drawer-container class="example-container">
  <mat-drawer
    position="end"
    mode="over"
    [opened]="openSidenav"
    (closed)="openSidenav = false"
  >
    <app-select-more-instances class="example-radio-group"></app-select-more-instances>
  </mat-drawer>
  <mat-drawer-content class="example-radio-group">
    <h1>Main content</h1>
    <button (click)="toggleSidenav()">Toggle Sidenav</button>
    <p>isSidenavOpen {{ openSidenav }}</p>
  </mat-drawer-content>
</mat-drawer-container>
<!--

<app-select-more-instances></app-select-more-instances>
-->
