<div class="full-width-container" xmlns:svg="">
  <as-split direction="horizontal" class="as-split-container" >
    <as-split-area [size]="65">
      <as-split direction="vertical">
        <div #visGraphContainer style="width: 100%; height: 100%; border: 1px solid lightgray;"></div>

      </as-split>
    </as-split-area>
    <as-split-area [size]="35">
      <as-split direction="vertical">
        <as-split-area [size]="100">

          <div *ngIf="panels.length !== 0; else noPanels">
            <div *ngFor="let panel of panels">
              <app-rec-show-panel [panel]="panel"></app-rec-show-panel>
            </div>
          </div>

          <ng-template #noPanels>
            <div class="info-panel">
              <h3>Click a node!</h3>
              <p>Select a node in the graph to display the related panel information.</p>
            </div>
          </ng-template>

        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
