<h1>Welcome to the Medical Exchange Platform</h1>

<div class="content-container">
  <div class="content-box">
    <h2>Section 1</h2>
    <p>Some brief information about Section 1.</p>
  </div>
  <div class="content-box">
    <h2>Exploring the Turtle Database</h2>
    <p>Pick out an instance and explore its relationships to other instances in the database.
    </p>

    <div class="button-container">
      <button routerLink="search-instance" class="explore-button">
        <span>Explore</span>
      </button>
    </div>

  </div>
  <div class="content-box">
    <h2>Section 3</h2>
    <p>Some brief information about Section 3.</p>
  </div>
</div>

<footer>

</footer>
