<h1>Welcome to FHIRDatafy</h1>

<div class="content-container">
  <div class="content-box">
    <h2>Data Statistics</h2>
    <p>View some statistics about the data stored on the other side.</p>
  </div>
  <div class="content-box">
    <h2>Exploring the Turtle Database</h2>
    <p>Pick out an instance and explore its relationships to other instances in the database.
    </p>

    <div class="button-container">
      <button routerLink="search-instance" class="explore-button">
        <span>Explore</span>
      </button>
    </div>

  </div>
  <div class="content-box">
    <h2>SPARQL Playground</h2>
    <p>Explore SPARQL Templates</p>

    <div class="button-container">
      <button routerLink="templates" class="explore-button">
        <span>SPARQL Templates</span>
      </button>
    </div>
  </div>
</div>

<footer>

</footer>
