<div class="center-wrapper">
  <div>
    <p class="start-text">Start typing to find instances. Click search to explore the graph.</p>
  </div>

  <div class="search-container">
    <form (ngSubmit)="search()" class="search-form">
      <mat-form-field class="search-field" appearance="outline">
        <input
          type="text"
          matInput
          placeholder="Search for an instance..."
          [matAutocomplete]="auto"
          [(ngModel)]="searchQuery"
          (input)="onSearchChange()"

          name="searchQuery"
          autocomplete="off"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let suggestion of filteredSuggestions"
                      [value]="suggestion"
                      (onSelectionChange)="addInstanceAsSaved(true, suggestion)">
            {{ suggestion }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- New wrapper for limit field and button -->
      <div class="limit-button-wrapper">
        <mat-form-field class="limit-field" appearance="outline">
          <mat-select [(ngModel)]="selectedLimit" name="limit" (selectionChange)="onSearchChange()">
            <mat-option *ngFor="let limit of limits" [value]="limit">{{ limit }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="search()" class="search-button">
          Search
        </button>
      </div>
    </form>

  </div>

  <table mat-table [dataSource]="savedNodes" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
